.header {
    padding: 40px;
    text-align: center;
    background: #13293d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: larger;
}

.body {
    background-color: rgb(117, 118, 119);
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    font-family: Arial, Helvetica, sans-serif;
    
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 25px;
}
nav ul li{
    padding-right: 4%;
    
}
nav ul a{
    color:#fff;

}

.page {
    display: flex;
    margin: 5%;
    padding: 5%;
    
}

.side-bar {
    width: 20%;
    border-right: 3px solid black;

   
}

.content {
    width: 80%;
    
}

.section-heading {
    text-align: right;
    font-size: 30px;
}

main {
    margin: 5%;
    padding: 5%;
}

#portfolio-content {
    display: flex;
    flex-wrap: wrap;
}

.imgcontainer {
    width: 45%;
    max-width: 50%;
    margin: 2%;
    padding: 2%;
}

/* .imgcontainer:nth-child(1){
    width: 95%;
} */

.imgcontainer img{
    width: 450px;
    height: 450px;
}